body {
    margin: 0;
    font-family: 'Unbounded', cursive;
    background-color: #fff;
  }
  h1{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    z-index: 1;
    position: relative;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .menu li {
    margin: 0 15px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
  }
  
  .burger-menu {
    cursor: pointer;
    display: none;
  }
  .logo{
    display: flex;
    position: relative;
    right: 35%;
  }
  .logo img{
    width: 60px;
    height: 60px;
  }
  
  .burger-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -100%;
      background-color: #333;
      width: 70%;
      height: 100vh;
      padding-top: 80px;
      transition: left 0.3s ease-in;
    }
    .navbar {
        display: flex;
        /* position: fixed; */
        justify-content: space-between;
        align-items: center;
        background-color: #333333;
        padding: 10px 20px;
        height: 40px;
        z-index: 1;
      }
  
    .menu.active {
      left: 0;
    }
  
    .burger-menu {
      display: block;
    }
  }
  .header{
    display: flex;
    width: 100%;
    position: relative;


  }
  .imgh{
    display: flex;
    flex-direction: column;
    filter: brightness(0.4);
    background: #18181f url("image/header2.jpg") center no-repeat;
    background-size: cover;
    justify-content: center;
    position: relative;
    top: -80px;
    width: 100%;
    height: 700px;
  }
  .gallery{
    position: absolute;
    width: 100%;
  }
 .left-h{
    width: 30%;
    position: absolute;
    display: flex;
    left: 10%;
    top: 30vh;
    flex: 1;
    color: #fff;
 }
 .right-h{
    position: absolute;
    right: 10%;
    display: flex;
    flex: 1;
    color: #fff;
    top: 30vh;
    flex-direction: column;
 }
 .btnup{
    width: 50px;
    height: 50px;
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.5s;
    background-image: url(image/up.svg);
 }
 .btnup:hover {
    transform: translateY(-10px); 
}
.btndown{
    width: 50px;
    height: 50px;
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.5s;
    background-image: url(image/down.svg);
 }
 .btndown:hover {
    transform: translateY(10px); 
}
 @media (min-width: 768px) {
.line{
    width: 80%;
    z-index: 1;
    margin: auto;
    background: #c7c7c7;
    border: none;
    height: 1px;
    position: absolute;
    right: 0;
    left: 0;
}}
.page-indicator{
    color: var(--gray-4, #BDBDBD);
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 10px;
    z-index: 2;
}