body {
    margin: 0;
    font-family: 'Unbounded', cursive;
    background-color: #fff;
  }
  h1{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    z-index: 1;
    position: relative;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .menu li {
    margin: 0 15px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
  }
  
  .burger-menu {
    cursor: pointer;
    display: none;
  }
  .logo{
    display: flex;
    position: relative;
    right: 35%;
  }
  .logo img{
    width: 60px;
    height: 60px;
  }
  
  .burger-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -100%;
      background-color: #333;
      width: 70%;
      height: 100vh;
      padding-top: 80px;
      transition: left 0.3s ease-in;
    }
    .navbar {
        display: flex;
        /* position: fixed; */
        justify-content: space-between;
        align-items: center;
        background-color: #333333;
        padding: 10px 20px;
        height: 40px;
        z-index: 1;
      }
  
    .menu.active {
      left: 0;
    }
  
    .burger-menu {
      display: block;
    }
  }
  .header{
    display: grid;
    position: relative;
    box-shadow: #333 0px 0px 12px 0px;
    margin-bottom: 30px;
  }
  .imgh{
    display: flex;
    flex-direction: column;
    filter: brightness(0.4);
    background-size: cover;
    justify-content: center;
    margin-top: -80px;
    width: 100%;
    height: 700px;
  }
  .gallery{
    width: 100%;
    display: grid;
    grid-area: 1/-1;
  }
 .left-h{
    width: 30%;
    position: absolute;
    display: flex;
    left: 10%;
    top: 30vh;
    flex: 1;
    color: #fff;
 }
 .right-h{
    position: absolute;
    right: 10%;
    display: flex;
    flex: 1;
    color: #fff;
    top: 30vh;
    flex-direction: column;
 }
 .btnup{
    width: 50px;
    height: 50px;
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.5s;
    background-image: url(image/up.svg);
 }
 .btnup:hover {
    transform: translateY(-10px); 
}
.btndown{
    width: 50px;
    height: 50px;
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.5s;
    background-image: url(image/down.svg);
 }
 .btndown:hover {
    transform: translateY(10px); 
}
 @media (min-width: 768px) {
.line{
    width: 80%;
    z-index: 1;
    margin: auto;
    background: #c7c7c7;
    border: none;
    height: 1px;
    position: absolute;
    right: 0;
    left: 0;
}}
.page-indicator{
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 10px;
}
.content{
    display: flex;
    height: auto;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}
.item {
    background-color: #fbfbfb;
    width: auto;
    height: auto;
    margin: 20px;
    background-size: cover;
    position: relative;
    box-shadow: #bababa 0px 0px 20px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.item-title{
    margin: 20px;
    letter-spacing: 2px;
}
.price-p{
    margin: 0 10px 10px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color: #333;
}
  button {
    font-size: 20px;
    margin: 0 10px;
  }
  .btnbuy{
    margin: 10px;
    width: 90%;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: rgb(43 57 63);
    border-radius: 10px;
    color: #fff;
    transition: 1s;
  }
  .btnbuy:hover{
    background-color: #0d6f90bf;
    transition: 1s;

  }
  .control{
    border-radius: 25px;
    font-size: 25px;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .counterblock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
  }
  .product-img{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
  }
  
  .product-image{
    display: flex;
    height: 50px;
    width: 50px;
  }
  .popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33333375;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .product-buy{
    height: 70%;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    overflow: auto;
  }
  .close{
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  @media (min-width: 768px) {
  .carts{
    height: 40px;
    width: 40px;
    background-image: url(image/cart.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    right: -35%;
  }
}
.news-bg{
    margin-bottom: -5px;
    width: 100%;
    height: 400px;
}
.news{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #040808;

}
.news2{
    display: flex;
    width: 100%;
    height: 700px;
    background-color: #040808;

}
.left-news{
    display: flex;
    flex: 1;
    padding: 50px;
}
.img-news{
    background-size: cover;
    width: 100%;
    height: 400px;
    border-radius: 15px;
}
.right-news{
    display: flex;
    flex: 1;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    height: 400px;
}
.news-text{
    color: #fff;
}
.photoblock{
    display: flex;
    position: relative;
    justify-content: center;


}
.ph1{
    position: absolute;
    width: 20%;
    height: 500px;
    background-image: url(image/it123.jpg);
    background-size: cover;
    left: 10%;
    top: -120px;
    border-radius: 15px;
}
.ph2{
    position: absolute;
    width: 25%;
    height: 500px;
    background-image: url(image/it23.jpg);
    background-size: cover;
    top: -150px;
    border-radius: 15px;
}
.ph3{
    position: absolute;
    width: 20%;
    height: 500px;
    background-image: url(image/it33.jpg);
    background-size: cover;
    right: 10%;
    top: -120px;
    border-radius: 15px;
}